@if(product){
    <div class="row">
        <div class="col">
            <img [src]="product.imageUrl" [alt]="product.name" class="rounded img-fluid">
        </div>
        <div class="col">
            <h2>{{product.name | uppercase}}</h2>
            <p><strong>Quantity per unit: </strong>{{product.quantityPerUnit}}</p>
            <p><strong>Units in stock: </strong>{{product.unitsInStock}}</p>
            <p appHighlight="yellow" labelText="On Sale!" class="display-6">
                {{product.unitPrice | appVat : 19 | currency}}
            </p>
            <button appButton class="btn btn-primary" (click)="onAddToCard">Add to cart</button>
        </div>
    </div>
}@else {
    <div class="row h-100">
        <div class="col h-100">
            <app-placeholder></app-placeholder>
        </div>
        <div class="col">
            <h2>
                <app-placeholder></app-placeholder>
            </h2>
            <p>
                <app-placeholder></app-placeholder>
            </p>
            <app-placeholder></app-placeholder>
            <app-button></app-button>
        </div>
    </div>
}

