<!-- <ul>
    @for(product of productList; track $index){
        <li>{{product.name}} - {{product.price}}</li>
    }
</ul>> -->

<div class="row">
    @for(product of filteredProductList; track $index){
        <app-card 
            [title]="product.name | uppercase" 
            [buttonLabel]="'Add to card - ' + (product.unitPrice | appVat : 19 | currency)"
            (buttonClick)="onViewProduct(product)"
            imageSrc='https://via.placeholder.com/200'
            [description]="product.quantityPerUnit"
            [imageAlt]="product.name"
            class="col-12 col-md-6 col-lg-4 my-2">
        </app-card>
    }
</div>
